@page "/study"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@using WSIST.Engine
<PageTitle>WSIST - Study</PageTitle>

<div class="page">
    <div class="top-row">
        <h3 class="title">WSIST</h3>
        <a href="/" class="button-primary" data-enhance-nav="false">← Back</a>
        <a href="/logout" class="button-primary" data-enhance-nav="false">Logout</a>
    </div>

    <div class="content px-4">
        // TODO: hours input + calculate button
        // TODO: results section
    </div>
</div>